<script th:src="@{https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js}" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/resource_site/js/plugins.js}" src="../../static/resource_site/js/plugins.js"></script>
<!--    <script th:src="@{/resource_site/js/Popper.js}" src="../../static/resource_site/js/Popper.js"></script>-->
<script th:src="@{https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js}" src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/resource_site/js/jquery.magnific-popup.min.js}" src="../../static/resource_site/js/jquery.magnific-popup.min.js"></script>
<script th:src="@{/resource_site/js/owl.carousel.min.js}" src="../../static/resource_site/js/owl.carousel.min.js"></script>
<script th:src="@{/resource_site/js/isotope.pkgd.min.js}" src="../../static/resource_site/js/isotope.pkgd.min.js"></script>
<script th:src="@{/resource_site/js/imagesloaded.pkgd.min.js}" src="../../static/resource_site/js/imagesloaded.pkgd.min.js"></script>
<script th:src="@{/resource_site/js/scrollup.js}" src="../../static/resource_site/js/scrollup.js"></script>
<script th:src="@{/resource_site/js/jquery.counterup.min.js}" src="../../static/resource_site/js/jquery.counterup.min.js"></script>
<script th:src="@{https://cdn.bootcss.com/waypoints/4.0.1/jquery.waypoints.min.js}" src="https://cdn.bootcss.com/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script th:src="@{https://cdn.bootcss.com/jquery.appear/0.4.1/jquery.appear.js}" src="https://cdn.bootcss.com/jquery.appear/0.4.1/jquery.appear.js"></script>
<script th:src="@{/resource_site/js/jquery.barfiller.js}" src="../../static/resource_site/js/jquery.barfiller.js"></script>
<script th:src="@{/resource_site/js/main.js}" src="../../static/resource_site/js/main.js"></script>


<script th:src="@{https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/resource_site/js/jquery.pjax.js}"  src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.js"></script>

<script th:src="@{/resource_site/prism/prism.js}" src="../../static/resource_site/prism/prism.js"></script>
<script src="https://cdn.jsdelivr.net/gh/yremp/live2d@1.0/autoload.js"></script>
