<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="smartit-source">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title here -->
    <title th:text="${title}">Jason's Blog</title>
    
    <!-- typo-->
    <link th:href="@{/resource_site/css/typo.css}" rel="stylesheet" href="../../static/resource_site/css/typo.css">

    <!-- Favicon and Touch Icons -->
    <link th:href="@{/resource_site/images/fav.png}" rel="shortcut icon" href="../../static/resource_site/images/fav.png">
    <!-- Place favicon.ico in the root directory -->
    <link th:href="@{apple-touch-icon.png}" rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900}" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link th:href="@{/resource_site/css/font-awesome.min.css}" rel="stylesheet" href="../../static/resource_site/css/font-awesome.min.css">
    <link th:href="@{/resource_site/css/flaticon.css}" rel="stylesheet" href="../../static/resource_site/css/flaticon.css">
    <!-- Plugin CSS -->
    <link th:href="@{https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/resource_site/css/animate.css}" rel="stylesheet" href="../../static/resource_site/css/animate.css">
    <link th:href="@{/resource_site/css/magnific-popup.css}" rel="stylesheet" href="../../static/resource_site/css/magnific-popup.css">
    <!--    <link th:href="@{/resource_site/css/owl.carousel.css}" rel="stylesheet" href="../../static/resource_site/css/owl.carousel.css">-->
    <!--    <link th:href="@{/resource_site/css/owl.theme.css}" rel="stylesheet" href="../../static/resource_site/css/owl.theme.css">-->
    <!--    <link th:href="@{/resource_site/css/owl.transitions.css}" rel="stylesheet" href="../../static/resource_site/css/owl.transitions.css">-->
    <link th:href="@{/resource_site/css/jquery.barfiller.css}" rel="stylesheet" href="../../static/resource_site/css/jquery.barfiller.css">
    <!--Theme custom css -->
    <link th:href="@{/resource_site/css/style.css}" rel="stylesheet" href="../../static/resource_site/css/style.css">
    <!--Theme Responsive css-->
    <link th:href="@{/resource_site/css/responsive.css}" rel="stylesheet" href="../../static/resource_site/css/responsive.css" />
    <script th:src="@{https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js}" src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!--	语法高亮-->
    <link th:href="@{/resource_site/prism/prism.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
</head>
