<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common-template/head"></head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder ">
                <div class="row">
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <h1 th:text="${status}"></h1>
                                <h3 th:text="${exception}"></h3>
                                <h3 th:text="${error}"></h3>
                                <a th:href="@{/}" class="link">回到首页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>