<!-- JavaScript files-->
<script th:src="@{https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js}" src="../../static/resource_admin/vendor/jquery/jquery.min.js"></script>
<!--<script th:src="@{https://cdn.bootcss.com/popper.js/1.16.1/esm/popper.min.js}" src="../../static/resource_admin/vendor/popper.js/umd/popper.min.js"> </script>-->
<script th:src="@{https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js}" src="../../static/resource_admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/resource_admin/vendor/jquery.cookie/jquery.cookie.js}" src="../../static/resource_admin/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script th:src="@{https://cdn.bootcss.com/Chart.js/3.0.0-alpha/Chart.min.js}" src="../../static/resource_admin/vendor/chart.js/Chart.min.js"></script>
<script th:src="@{/resource_admin/vendor/jquery-validation/jquery.validate.min.js}" src="../../static/resource_admin/vendor/jquery-validation/jquery.validate.min.js"></script>
<!--     <script src="js/charts-home.js"></script>-->
<!-- Main File-->
<script th:src="@{/resource_admin/vendor/editormd/editormd.min.js}" src="../../static/resource_admin/vendor/editormd/editormd.min.js"></script>
<script th:src="@{/resource_site/js/jquery.pjax.js}"  src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.js"></script>
<script th:src="@{/resource_admin/js/front.js}" src="../../static/resource_admin/js/front.js"></script>
<script src="https://cdn.bootcss.com/jquery-color/2.1.2/jquery.color.js"></script>
<script th:src="@{/resource_admin/vendor/jquery-input/jquery-tagsinput.min.js}"></script>